Repository jmagar/scbdb: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, web-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-file-size:
      run: scripts/check-file-size.sh
      fail_text: "Split large files into focused modules before committing."

    cargo-fmt:
      glob: "**/*.rs"
      run: cargo fmt --all -- --check
      fail_text: "Run 'just format' to fix Rust formatting."

    web-format:
      glob: "web/**/*.{ts,tsx,css}"
      run: command -v pnpm > /dev/null 2>&1 && pnpm --dir web format:check || echo "pnpm not found — skipping web format check"
      fail_text: "Run 'just format' to fix web formatting."

pre-push:
  parallel: true
  commands:
    cargo-clippy:
      glob: "**/*.rs"
      run: cargo clippy --workspace -- -D warnings
      fail_text: "Run 'just check' to see clippy details."

    cargo-test:
      glob: "**/*.rs"
      run: cargo test --workspace --lib
      fail_text: "All unit tests must pass before pushing. Integration tests require a running DB — run 'just test' manually."

    web-typecheck:
      glob: "web/**/*.{ts,tsx}"
      run: command -v pnpm > /dev/null 2>&1 && pnpm --dir web typecheck || echo "pnpm not found — skipping web typecheck"
      fail_text: "Fix TypeScript errors before pushing."

docs: update DATABASE_SCHEMA.md with Phase 6 brand intelligence tables
  docs/DATABASE_SCHEMA.md
Due: none

docs: add scbdb-profiler to ARCHITECTURE.md crate map
  docs/ARCHITECTURE.md
Due: none

fix(sentiment): extract JSON-LD helpers to html_jsonld.rs; fix manual_let_else clippy lint
  crates/scbdb-legiscan/src/lib.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom/html.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom/html_jsonld.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom/mod.rs
Due: cargo-fmt

fix(legiscan): remove unused BillTextEntry import
  crates/scbdb-legiscan/src/normalize.rs
Due: cargo-fmt

fix(cli): replace map_or with is_none_or (clippy::unnecessary_map_or)
  crates/scbdb-cli/src/regs/ingest.rs
Due: cargo-fmt

feat(web): complete brand page components (G3-G7)
  web/src/components/brand-content-tab.tsx
  web/src/components/brand-recon-tab.tsx
  web/src/components/map-filter-sidebar.tsx
Due: web-format

fix(ci): resolve all ESLint and format issues for clean CI gate
  crates/scbdb-server/src/api/mod.rs
  web/eslint.config.js
  web/src/components/dashboard-page.test.tsx
  web/src/components/location-map-view.tsx
  web/src/components/locations-panel.tsx
  web/src/lib/brand-colors.ts
Due: cargo-fmt, web-format

feat(config): add social handles and domains to brands.yaml
  config/brands.yaml
Due: none

fix(legiscan): add backticks to LegiScan in doc comment (clippy::doc_markdown)
  crates/scbdb-legiscan/src/types.rs
Due: cargo-fmt

feat(regs): bill texts + change-hash caching for legiscan ingest
  README.md
  crates/scbdb-db/src/api_queries.rs
  crates/scbdb-db/src/bill_events.rs
  crates/scbdb-db/src/bill_texts.rs
  crates/scbdb-db/src/bills.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/src/locations/mod.rs
  crates/scbdb-db/src/locations/read.rs
  crates/scbdb-db/src/locations/types.rs
  crates/scbdb-db/tests/live.rs
  crates/scbdb-legiscan/src/normalize.rs
  crates/scbdb-scraper/src/locator/formats/destini/mod.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/mod.rs
  crates/scbdb-scraper/src/locator/mod.rs
  crates/scbdb-server/src/api/bills.rs
  crates/scbdb-server/src/api/locations.rs
  crates/scbdb-server/src/api/products.rs
  docs/SENTIMENT_PIPELINE.md
  docs/brand-research/cann-briefing.md
  migrations/20260222000700_bill_texts_and_hash_cache.down.sql
  migrations/20260222000700_bill_texts_and_hash_cache.up.sql
  pnpm-lock.yaml
  southern_crown_cbd_db_header_cropped.png
  southerncrown.png
  web/package.json
  web/public/sc-header.png
  web/public/southerncrown.png
  web/src/components/location-map-view.test.tsx
  web/src/components/map-filter-sidebar.test.ts
  web/src/components/regulatory-panel.tsx
  web/src/components/sentiment-panel.tsx
  web/src/components/sentiment-utils.ts
  web/src/components/state-tile-map.tsx
  web/src/hooks/use-dashboard-data.ts
  web/src/lib/api/dashboard.ts
  web/src/lib/brand-colors.test.ts
  web/src/styles.css
  web/src/types/api.ts
Due: cargo-fmt, web-format

docs: add brand intelligence layer documentation (I1-I3)
  docs/ARCHITECTURE.md
  docs/BRAND_INTELLIGENCE.md
  docs/DATABASE_SCHEMA.md
Due: none

feat(scraper): add geographic grid search module with CONUS/SC presets and SE city coverage
  crates/scbdb-scraper/src/locator/grid.rs
  crates/scbdb-scraper/src/locator/mod.rs
Due: cargo-fmt

feat(scraper): Destini CONUS grid search — replaces single Kansas center, adds SE coverage
  crates/scbdb-scraper/src/locator/formats/destini/mod.rs
  crates/scbdb-scraper/src/locator/formats/destini/parse.rs
  crates/scbdb-scraper/src/locator/formats/destini/response.rs
Due: cargo-fmt

refactor(scraper): VTInfo search points use shared STRATEGIC_US_POINTS (+ Charlotte)
  crates/scbdb-scraper/src/locator/formats/vtinfo/mod.rs
Due: cargo-fmt

fix(scraper): resolve clippy warnings after grid/Destini/VTInfo refactor
  crates/scbdb-scraper/src/locator/formats/destini/parse.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/mod.rs
  crates/scbdb-scraper/src/locator/grid.rs
  crates/scbdb-scraper/src/locator/mod.rs
Due: cargo-fmt

feat(regs): add historical session backfill and federal ingest support
  crates/scbdb-cli/src/main.rs
  crates/scbdb-cli/src/regs/discovery.rs
  crates/scbdb-cli/src/regs/ingest.rs
  crates/scbdb-cli/src/regs/mod.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-legiscan/src/session.rs
Due: cargo-fmt

fix(cli): remove dead log_location_changeset helper
  crates/scbdb-cli/src/collect/locations/helpers.rs
Due: cargo-fmt

fix(cli): inline changeset diff and remove log_location_changeset helper
  crates/scbdb-cli/src/collect/locations/brand.rs
  crates/scbdb-cli/src/collect/locations/helpers.rs
Due: cargo-fmt

refactor(cli): use log_location_changeset helper in collect_brand_locations
  crates/scbdb-cli/src/collect/locations/brand.rs
Due: cargo-fmt

feat(scripts): Playwright store locator API discovery for brand onboarding
  scripts/discover-locator.ts
  scripts/package.json
Due: none

fix(cli): restore log_location_changeset helper used by collect_brand_locations
  crates/scbdb-cli/src/collect/locations/helpers.rs
Due: cargo-fmt

fix(scraper): address code review findings in Destini grid + VTInfo tests
  crates/scbdb-scraper/src/locator/formats/destini/parse.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/vtinfo_parse.rs
Due: cargo-fmt

fix(scraper): address locator format bugs from PR review
  crates/scbdb-scraper/src/locator/formats/beveragefinder.rs
  crates/scbdb-scraper/src/locator/formats/embed.rs
  crates/scbdb-scraper/src/locator/formats/jsonld.rs
  crates/scbdb-scraper/src/locator/formats/locally.rs
  crates/scbdb-scraper/src/locator/formats/stockist.rs
  crates/scbdb-scraper/src/locator/formats/storemapper.rs
  crates/scbdb-scraper/src/locator/formats/storepoint.rs
  crates/scbdb-scraper/src/locator/formats/storerocket.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/vtinfo_http.rs
  crates/scbdb-scraper/src/locator/mod.rs
  crates/scbdb-scraper/src/logo.rs
Due: cargo-fmt

fix(db): address DB layer and migration bugs from PR review
  crates/scbdb-db/src/api_queries.rs
  crates/scbdb-db/src/brands.rs
  crates/scbdb-db/src/locations/read.rs
  crates/scbdb-db/src/locations/write.rs
  crates/scbdb-db/src/seed.rs
  migrations/20260221000200_store_locator_url.up.sql
  migrations/20260221000300_store_locations.down.sql
  migrations/20260221000300_store_locations.up.sql
  migrations/20260221000400_collection_run_brands_partial_status.down.sql
Due: cargo-fmt

fix(server): address middleware and API handler bugs from PR review
  crates/scbdb-server/src/api/brands/write.rs
  crates/scbdb-server/src/api/mod.rs
  crates/scbdb-server/src/api/sentiment.rs
  crates/scbdb-server/src/middleware.rs
  crates/scbdb-server/src/scheduler/mod.rs
Due: cargo-fmt

fix(server): simplify locations.rs error mapping closures
  crates/scbdb-server/src/api/locations.rs
Due: cargo-fmt

fix(scraper): address fetch/parse/normalize bugs from PR review
  crates/scbdb-profiler/src/rss.rs
  crates/scbdb-scraper/src/client/fetch_all.rs
  crates/scbdb-scraper/src/locator/fetch.rs
  crates/scbdb-scraper/src/locator/mod.rs
  crates/scbdb-scraper/src/locator/types.rs
  crates/scbdb-scraper/src/normalize.rs
  crates/scbdb-scraper/src/parse.rs
  crates/scbdb-scraper/src/parse_helpers.rs
Due: cargo-fmt

docs: fix documentation inaccuracies and config issues from PR review
  .gitignore
  Cargo.toml
  README.md
  docs/API_DESIGN.md
  docs/ARCHITECTURE.md
  docs/DATABASE_SCHEMA.md
  docs/LOCATIONS_DASHBOARD.md
  docs/STORE_LOCATOR.md
  docs/mvp_phases/phase-5-api-dashboard.md
  justfile
  web/src/components/brand-edit-domains-form.tsx
  web/src/components/dashboard-page.tsx
  web/src/components/dashboard-utils.tsx
  web/src/components/location-map-view.tsx
  web/src/components/locations-panel.tsx
  web/src/components/pricing-panel.tsx
  web/src/components/products-panel.tsx
  web/src/components/sentiment-panel.tsx
  web/src/lib/api/client.test.ts
  web/src/lib/api/client.ts
  web/src/styles.css
  web/src/types/api.ts
  web/vite.config.ts
Due: web-format

fix(review): address 19 PR review comments across CLI, legiscan, core, profiler, sentiment
  crates/scbdb-cli/src/collect/brand/mod.rs
  crates/scbdb-cli/src/collect/brand/pipeline.rs
  crates/scbdb-cli/src/collect/locations/brand.rs
  crates/scbdb-cli/src/collect/locations/helpers.rs
  crates/scbdb-cli/src/collect/locations/mod.rs
  crates/scbdb-cli/src/collect/locations/url.rs
  crates/scbdb-cli/src/collect/runner.rs
  crates/scbdb-cli/src/collect/verify_images.rs
  crates/scbdb-core/src/brands.rs
  crates/scbdb-legiscan/src/retry.rs
  crates/scbdb-legiscan/src/session.rs
  crates/scbdb-profiler/src/intake.rs
  crates/scbdb-sentiment/src/sources/bing_rss.rs
  crates/scbdb-sentiment/src/sources/mod.rs
  crates/scbdb-sentiment/src/sources/reddit.rs
  crates/scbdb-sentiment/src/sources/reddit_helpers.rs
  crates/scbdb-sentiment/src/sources/rss_helpers.rs
  crates/scbdb-sentiment/src/sources/yahoo_rss.rs
Due: cargo-fmt

fix(clippy): rewrite match-with-else as let-else in intake.rs and logo.rs
  crates/scbdb-profiler/src/intake.rs
  crates/scbdb-scraper/src/logo.rs
Due: cargo-fmt

fix(scraper,cli): address second-pass code review findings
  crates/scbdb-cli/src/collect/locations/helpers.rs
  crates/scbdb-scraper/src/locator/formats/destini/parse.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/mod.rs
  crates/scbdb-scraper/src/locator/grid.rs
Due: cargo-fmt

docs(readme): update status snapshot for Phase 5/6
  README.md
Due: none

fix: diagnose 5 failing brand locators; fix cycling-frog URL + dashboard tests
  config/brands.yaml
  docs/STORE_LOCATOR.md
  web/src/components/dashboard-page.test.tsx
Due: web-format

fix(config): correct 4 brand entries with accurate domain/locator status
  config/brands.yaml
Due: none

fix(config): add monitor note for island-chill BeverageFinder
  config/brands.yaml
Due: none

fix: address 5 open PR review comments
  crates/scbdb-cli/src/collect/verify_images.rs
  crates/scbdb-scraper/src/locator/formats/storepoint.rs
  crates/scbdb-scraper/src/locator/mod.rs
  crates/scbdb-sentiment/src/sources/rss_helpers.rs
  web/src/components/location-map-view.tsx
Due: cargo-fmt, web-format

docs(env): audit and complete .env.example coverage
  .env.example
Due: none

refactor(web): harden API layer, decouple panels, unify types
  CLAUDE.md
  Cargo.lock
  README.md
  crates/scbdb-cli/CLAUDE.md
  crates/scbdb-core/CLAUDE.md
  crates/scbdb-db/CLAUDE.md
  crates/scbdb-legiscan/CLAUDE.md
  crates/scbdb-profiler/CLAUDE.md
  crates/scbdb-scraper/CLAUDE.md
  crates/scbdb-sentiment/CLAUDE.md
  crates/scbdb-server/CLAUDE.md
  docs/brand-research/cann-briefing.md
  pnpm-lock.yaml
  southerncrown.png
  web/.env.example
  web/package.json
  web/src/components/brand-edit-meta-form.tsx
  web/src/components/brand-edit-tab.tsx
  web/src/components/brand-signal-feed.tsx
  web/src/components/brands-page.tsx
  web/src/components/not-found-page.tsx
  web/src/components/pricing-panel.tsx
  web/src/components/products-panel.tsx
  web/src/components/regulatory-panel.tsx
  web/src/components/sentiment-panel.tsx
  web/src/components/sentiment-utils.ts
  web/src/hooks/use-brand-data.ts
  web/src/hooks/use-dashboard-data.ts
  web/src/lib/api/brands.ts
  web/src/lib/api/client.ts
  web/src/lib/api/dashboard.ts
  web/src/lib/api/schemas.ts
  web/src/lib/format-utils.ts
  web/src/main.tsx
  web/src/types/api.ts
Due: web-format
