Repository jmagar/scbdb: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, web-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-file-size:
      run: scripts/check-file-size.sh
      fail_text: "Split large files into focused modules before committing."

    cargo-fmt:
      glob: "**/*.rs"
      run: cargo fmt --all -- --check
      fail_text: "Run 'just format' to fix Rust formatting."

    web-format:
      glob: "web/**/*.{ts,tsx,css}"
      run: command -v pnpm > /dev/null 2>&1 && pnpm --dir web format:check || echo "pnpm not found — skipping web format check"
      fail_text: "Run 'just format' to fix web formatting."

pre-push:
  parallel: true
  commands:
    cargo-clippy:
      glob: "**/*.rs"
      run: cargo clippy --workspace -- -D warnings
      fail_text: "Run 'just check' to see clippy details."

    cargo-test:
      glob: "**/*.rs"
      run: cargo test --workspace --lib
      fail_text: "All unit tests must pass before pushing. Integration tests require a running DB — run 'just test' manually."

    web-typecheck:
      glob: "web/**/*.{ts,tsx}"
      run: command -v pnpm > /dev/null 2>&1 && pnpm --dir web typecheck || echo "pnpm not found — skipping web typecheck"
      fail_text: "Fix TypeScript errors before pushing."

feat(db): add brand_profiles, brand_social_handles, brand_domains tables
  migrations/20260222000100_brand_profile_layer.down.sql
  migrations/20260222000100_brand_profile_layer.up.sql
Due: none

feat(db): add brand_signals table with signal_type enum
  migrations/20260222000200_brand_signals.down.sql
  migrations/20260222000200_brand_signals.up.sql
Due: none

feat(db): add brand_funding_events, brand_lab_tests, brand_legal_proceedings, brand_sponsorships
  migrations/20260222000300_brand_structured_a.down.sql
  migrations/20260222000300_brand_structured_a.up.sql
Due: none

feat(db): add brand_distributors, brand_competitor_relationships, brand_newsletters, brand_media_appearances
  migrations/20260222000400_brand_structured_b.down.sql
  migrations/20260222000400_brand_structured_b.up.sql
Due: none

feat(db): add brand_profile_runs table
  migrations/20260222000500_brand_profile_runs.down.sql
  migrations/20260222000500_brand_profile_runs.up.sql
Due: none

fix(scraper): resolve all pre-existing clippy warnings in locator format modules
  crates/scbdb-scraper/src/locator/formats/askhoodie.rs
  crates/scbdb-scraper/src/locator/formats/beveragefinder.rs
  crates/scbdb-scraper/src/locator/formats/stockist.rs
  crates/scbdb-scraper/src/locator/formats/storemapper.rs
  crates/scbdb-scraper/src/locator/formats/storepoint.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/mod.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/vtinfo_http.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/vtinfo_parse.rs
  crates/scbdb-scraper/src/locator/mod.rs
  crates/scbdb-sentiment/src/pipeline.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom.rs
  crates/scbdb-server/src/scheduler.rs
Due: cargo-fmt

feat(core): add social handles and domains fields to BrandConfig
  crates/scbdb-core/src/brands.rs
  crates/scbdb-core/src/brands_test.rs
Due: cargo-fmt

feat(db,cli): upsert brand_social_handles and brand_domains on seed
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/src/seed.rs
Due: cargo-fmt

feat(core): add twitter_handle field to BrandConfig
  crates/scbdb-core/src/brands.rs
  crates/scbdb-core/src/brands_test.rs
Due: cargo-fmt

feat(db): add brand_profiles queries and list_brands_without_profiles
  crates/scbdb-db/src/brand_profiles.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/tests/live.rs
Due: cargo-fmt

feat(db): add twitter_handle column to brands table and BrandRow
  crates/scbdb-db/src/brands.rs
  crates/scbdb-db/src/seed.rs
  migrations/20260222000600_brands_twitter_handle.down.sql
  migrations/20260222000600_brands_twitter_handle.up.sql
Due: cargo-fmt

feat(db): add brand_signals upsert and paginated list queries
  crates/scbdb-db/src/brand_signals.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/tests/live.rs
Due: cargo-fmt

feat(sentiment): add twitter brand timeline + replies source
  crates/scbdb-sentiment/src/pipeline.rs
  crates/scbdb-sentiment/src/sources/mod.rs
  crates/scbdb-sentiment/src/sources/twitter.rs
Due: cargo-fmt

feat(cli,config): wire twitter_handle into sentiment pipeline and add handles for 10 brands
  crates/scbdb-db/src/brand_intel/funding_events.rs
  crates/scbdb-db/src/brand_intel/lab_tests.rs
  crates/scbdb-db/src/brand_intel/legal_proceedings.rs
  crates/scbdb-db/src/brand_intel/mod.rs
  crates/scbdb-db/src/brand_intel/sponsorships.rs
  crates/scbdb-db/tests/live.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom/mod.rs
Due: cargo-fmt

refactor(scraper,db): split oversized modules to satisfy 300-line file-size gate
  crates/scbdb-db/src/brand_intel/competitor_relationships.rs
  crates/scbdb-db/src/brand_intel/distributors.rs
  crates/scbdb-db/src/brand_intel/media_appearances.rs
  crates/scbdb-db/src/brand_intel/mod.rs
  crates/scbdb-db/src/brand_intel/newsletters.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/tests/live.rs
  crates/scbdb-scraper/src/locator/formats/destini/mod.rs
  crates/scbdb-scraper/src/locator/formats/destini/parse.rs
  crates/scbdb-scraper/src/locator/mod.rs
  crates/scbdb-scraper/src/locator/trust.rs
Due: cargo-fmt

fix(db): guard self-relationship in competitor insert, assert canonical order in test
  crates/scbdb-db/src/brand_intel/competitor_relationships.rs
  crates/scbdb-db/tests/live.rs
Due: cargo-fmt

fix(sentiment): move nested fn to module scope to satisfy clippy::items_after_statements
  crates/scbdb-sentiment/src/sources/brand_newsroom/html.rs
Due: cargo-fmt

fix(sentiment): log bird JSON parse failures; skip sleep on first reply fetch
  crates/scbdb-core/src/brands.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom/html.rs
  crates/scbdb-sentiment/src/sources/brand_newsroom/mod.rs
  crates/scbdb-sentiment/src/sources/twitter.rs
Due: cargo-fmt

feat(profiler): add scbdb-profiler crate skeleton with stub modules
  Cargo.lock
  Cargo.toml
  crates/scbdb-profiler/Cargo.toml
  crates/scbdb-profiler/src/embedder.rs
  crates/scbdb-profiler/src/error.rs
  crates/scbdb-profiler/src/intake.rs
  crates/scbdb-profiler/src/lib.rs
  crates/scbdb-profiler/src/rss.rs
  crates/scbdb-profiler/src/twitter.rs
  crates/scbdb-profiler/src/types.rs
  crates/scbdb-profiler/src/youtube.rs
Due: cargo-fmt

feat(profiler): implement embedder — TEI client + deterministic point ID
  crates/scbdb-profiler/Cargo.toml
  crates/scbdb-profiler/src/embedder.rs
Due: cargo-fmt

feat(config): add twitter handles for 6 more brands via web research (16 total)
  config/brands.yaml
Due: none

feat(profiler): implement RSS/Atom feed crawler
  Cargo.toml
  crates/scbdb-profiler/Cargo.toml
  crates/scbdb-profiler/src/rss.rs
Due: cargo-fmt

feat(profiler): implement YouTube Data API v3 client
  crates/scbdb-profiler/src/youtube.rs
Due: cargo-fmt

fix(profiler): correct Errors doc on collect_channel_signals
  crates/scbdb-profiler/src/youtube.rs
Due: cargo-fmt

fix(profiler): rename signals_embedded -> signals_upserted for accuracy
  crates/scbdb-profiler/Cargo.toml
  crates/scbdb-profiler/src/intake.rs
  crates/scbdb-profiler/src/lib.rs
  crates/scbdb-profiler/src/twitter.rs
  crates/scbdb-profiler/src/types.rs
Due: cargo-fmt

feat(server): register brand_intake, signal_refresh, handle_refresh scheduler jobs
  Cargo.lock
  crates/scbdb-db/src/brand_signals.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-scraper/src/locator/formats/vtinfo/vtinfo_http.rs
  crates/scbdb-server/Cargo.toml
  crates/scbdb-server/src/scheduler/brand_intel.rs
  crates/scbdb-server/src/scheduler/mod.rs
Due: cargo-fmt

fix(server): build reqwest::Client once at job registration, not per-brand
  crates/scbdb-server/src/scheduler/brand_intel.rs
Due: cargo-fmt

feat(db,api): add brand completeness score and brands intel endpoints (F1-F4)
  crates/scbdb-db/src/brand_completeness.rs
  crates/scbdb-server/src/api/brands/detail.rs
  crates/scbdb-server/src/api/brands/intel/mod.rs
  crates/scbdb-server/src/api/brands/intel/types.rs
  crates/scbdb-server/src/api/brands/list.rs
  crates/scbdb-server/src/api/brands/mod.rs
  crates/scbdb-server/src/api/brands/signals.rs
  crates/scbdb-server/src/api/mod.rs
Due: cargo-fmt

fix(db,api): bulk completeness query, is_active filters, add brand endpoint tests
  crates/scbdb-db/src/brand_completeness.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-server/src/api/brands/list.rs
  crates/scbdb-server/src/api/mod.rs
Due: cargo-fmt

feat(web/types): add brand types, fetch functions, and TanStack Query hooks
  web/src/hooks/use-dashboard-data.ts
  web/src/lib/api/dashboard.ts
  web/src/smoke.test.ts
  web/src/types/api.ts
  web/src/types/brands.ts
Due: web-format

feat(web): add BrandsPage component with brand cards, completeness bars, and hash routing
  web/src/components/brands-page.test.tsx
  web/src/components/brands-page.tsx
  web/src/main.tsx
  web/src/styles.css
Due: web-format

feat(web): add missing brand intel hooks (lab-tests, legal, sponsorships, competitors, media)
  web/src/hooks/use-dashboard-data.ts
  web/src/lib/api/brands.ts
Due: web-format

feat(web): add BrandSignalFeed with type icons and cursor pagination
  web/src/components/brand-signal-feed.test.tsx
  web/src/components/brand-signal-feed.tsx
Due: web-format

feat(web): add brand Content and Recon tabs with sub-tabs
  web/src/components/brand-content-tab.tsx
  web/src/components/brand-recon-tab.tsx
Due: web-format

feat(web): add BrandProfilePage header, stats, and tabs
  web/src/components/brand-profile-page.test.tsx
  web/src/components/brand-profile-page.tsx
Due: web-format

feat(web): add brand profile CSS and wire /brands/:slug route
  web/src/main.tsx
  web/src/styles.css
Due: web-format

fix(web): wire cursor state to useBrandSignals for Load More pagination
  web/src/components/brand-signal-feed.tsx
  web/src/hooks/use-dashboard-data.ts
Due: web-format

feat(web): add brand API types, fetch functions, and TanStack Query hooks
  web/src/components/dashboard-page.test.tsx
  web/src/components/dashboard-page.tsx
  web/src/components/dashboard-utils.test.ts
  web/src/components/dashboard-utils.tsx
  web/src/components/products-panel.tsx
  web/src/components/regulatory-panel.tsx
  web/src/hooks/use-brand-data.ts
  web/src/styles.css
  web/src/types/api.ts
  web/src/types/brands.ts
Due: web-format

chore(config): add social handles and domains to all brands in brands.yaml
  config/brands.yaml
Due: none
