Repository jmagar/scbdb: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, web-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-file-size:
      run: scripts/check-file-size.sh
      fail_text: "Split large files into focused modules before committing."

    cargo-fmt:
      glob: "**/*.rs"
      run: cargo fmt --all -- --check
      fail_text: "Run 'just format' to fix Rust formatting."

    web-format:
      glob: "web/**/*.{ts,tsx,css}"
      run: pnpm --dir web format:check
      fail_text: "Run 'just format' to fix web formatting."

pre-push:
  parallel: true
  commands:
    cargo-clippy:
      glob: "**/*.rs"
      run: cargo clippy --workspace -- -D warnings
      fail_text: "Run 'just check' to see clippy details."

    cargo-test:
      glob: "**/*.rs"
      run: cargo test --workspace --lib
      fail_text: "All unit tests must pass before pushing. Integration tests require a running DB â€” run 'just test' manually."

    web-typecheck:
      glob: "web/**/*.{ts,tsx}"
      run: pnpm --dir web typecheck
      fail_text: "Fix TypeScript errors before pushing."

refactor: split large files into focused modules; fix negation context in parse
  crates/scbdb-cli/src/regs.rs
  crates/scbdb-cli/src/regs/ingest.rs
  crates/scbdb-cli/src/regs/mod.rs
  crates/scbdb-cli/src/regs/query.rs
  crates/scbdb-scraper/src/client.rs
  crates/scbdb-scraper/src/client_test.rs
  crates/scbdb-scraper/src/parse.rs
Due: cargo-fmt

fix(scraper): honour Retry-After header value as backoff floor
  crates/scbdb-scraper/src/rate_limit.rs
Due: cargo-fmt

fix: address PR review comments — correctness, config, and resilience
  Cargo.lock
  config/brands.yaml
  crates/scbdb-cli/Cargo.toml
  crates/scbdb-cli/src/collect/brand.rs
  crates/scbdb-cli/src/collect/mod.rs
  crates/scbdb-core/Cargo.toml
  crates/scbdb-core/src/app_config.rs
  crates/scbdb-core/src/config.rs
  crates/scbdb-core/src/config_test.rs
  crates/scbdb-db/src/bills.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/src/products.rs
  crates/scbdb-db/src/seed.rs
  crates/scbdb-db/tests/integration.rs
  crates/scbdb-db/tests/live.rs
  crates/scbdb-legiscan/src/client.rs
  crates/scbdb-legiscan/src/normalize.rs
  crates/scbdb-legiscan/src/types.rs
  crates/scbdb-legiscan/tests/client.rs
  crates/scbdb-scraper/src/client.rs
  crates/scbdb-scraper/src/client_test.rs
  crates/scbdb-scraper/src/error.rs
  crates/scbdb-scraper/src/rate_limit.rs
  crates/scbdb-scraper/tests/shopify_client.rs
  crates/scbdb-sentiment/src/lib.rs
  crates/scbdb-server/src/main.rs
  crates/scbdb-server/src/scheduler.rs
  justfile
  migrations/20260219000400_bill_events_unique_constraint.down.sql
  migrations/20260219000400_bill_events_unique_constraint.up.sql
Due: cargo-fmt

fix: backtick doc identifiers in upsert_bill_event (clippy doc_markdown)
  crates/scbdb-db/src/bills.rs
Due: cargo-fmt

fix: make product_variants.is_available NOT NULL DEFAULT TRUE
  crates/scbdb-db/src/products.rs
  migrations/20260219000500_product_variants_is_available_not_null.down.sql
  migrations/20260219000500_product_variants_is_available_not_null.up.sql
Due: cargo-fmt

docs: update CLAUDE.md v1.3 — crate map, quick start, codebase gotchas
  CLAUDE.md
Due: none

refactor: post-Phase 4 cleanup — test organisation and display improvements
  .env.example
  Cargo.toml
  crates/scbdb-cli/src/collect/brand.rs
  crates/scbdb-cli/src/collect/brand_test.rs
  crates/scbdb-cli/src/collect/collect_test.rs
  crates/scbdb-cli/src/collect/mod.rs
  crates/scbdb-cli/src/sentiment/mod.rs
  crates/scbdb-cli/src/sentiment/query.rs
  crates/scbdb-cli/src/tests.rs
  crates/scbdb-db/tests/integration.rs
  crates/scbdb-legiscan/src/client.rs
  crates/scbdb-legiscan/src/client_test.rs
  crates/scbdb-scraper/src/normalize.rs
  crates/scbdb-scraper/src/normalize_test.rs
Due: cargo-fmt

fix: implement all remaining PR review fixes (#2/#9/#17/#33 and 14 more)
  .env.example
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/scbdb-cli/src/collect/collect_test.rs
  crates/scbdb-cli/src/collect/mod.rs
  crates/scbdb-cli/src/regs/ingest.rs
  crates/scbdb-cli/src/regs/query.rs
  crates/scbdb-core/src/app_config.rs
  crates/scbdb-core/src/brands_test.rs
  crates/scbdb-core/src/config.rs
  crates/scbdb-core/src/config_test.rs
  crates/scbdb-db/src/bills.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/tests/integration.rs
  crates/scbdb-db/tests/live.rs
  crates/scbdb-legiscan/tests/client.rs
  crates/scbdb-scraper/Cargo.toml
  crates/scbdb-scraper/src/client.rs
  crates/scbdb-scraper/src/rate_limit.rs
  crates/scbdb-sentiment/src/embeddings.rs
  crates/scbdb-sentiment/src/sources/rss.rs
  crates/scbdb-server/src/main.rs
  docs/ARCHITECTURE.md
  docs/DATABASE_SCHEMA.md
  docs/DEVELOPMENT.md
  docs/MVP.md
  docs/PRD.md
  docs/TECHNOLOGY.md
  docs/mvp_phases/phase-4-sentiment-pipeline.md
  lefthook.yml
  scripts/check-file-size.sh
Due: cargo-fmt

fix(deps): remediate Dependabot security alerts
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

docs: update README to reflect actual Phase 1-4 implementation state
  README.md
Due: none

feat: close scraper operational gaps — vendor, HTML dosage, concurrency, tooling
  Cargo.lock
  Cargo.toml
  config/brands.yaml
  crates/scbdb-cli/Cargo.toml
  crates/scbdb-cli/src/collect/brand_test.rs
  crates/scbdb-cli/src/collect/mod.rs
  crates/scbdb-core/src/products.rs
  crates/scbdb-db/src/products.rs
  crates/scbdb-db/tests/integration.rs
  crates/scbdb-db/tests/live.rs
  crates/scbdb-scraper/src/lib.rs
  crates/scbdb-scraper/src/normalize.rs
  crates/scbdb-scraper/src/parse.rs
  crates/scbdb-scraper/src/parse_helpers.rs
  crates/scbdb-scraper/src/parse_test.rs
  justfile
  migrations/20260220000700_products_vendor.down.sql
  migrations/20260220000700_products_vendor.up.sql
Due: cargo-fmt

fix(review): tighten visibility, document fallback limitation, add test coverage
  crates/scbdb-db/tests/live.rs
  crates/scbdb-scraper/src/normalize.rs
  crates/scbdb-scraper/src/normalize_test.rs
  crates/scbdb-scraper/src/parse_helpers.rs
  crates/scbdb-scraper/src/parse_test.rs
Due: cargo-fmt

fix(brands): correct shop_url for 11 brands based on live Shopify probe
  config/brands.yaml
Due: none

fix: correct Qdrant upsert URL and make LegiScan search status optional
  crates/scbdb-legiscan/src/types.rs
  crates/scbdb-sentiment/src/vector_store.rs
Due: cargo-fmt

feat(collect): filter to beverage products only — dosage or size required
  crates/scbdb-cli/src/collect/brand.rs
Due: cargo-fmt

feat: LegiScan hardening — budget guard, retry/backoff, pagination, multi-keyword/state
  Cargo.lock
  crates/scbdb-cli/src/collect/brand.rs
  crates/scbdb-cli/src/main.rs
  crates/scbdb-cli/src/regs/ingest.rs
  crates/scbdb-cli/src/regs/mod.rs
  crates/scbdb-cli/src/tests.rs
  crates/scbdb-legiscan/Cargo.toml
  crates/scbdb-legiscan/src/client.rs
  crates/scbdb-legiscan/src/client_test.rs
  crates/scbdb-legiscan/src/error.rs
  crates/scbdb-legiscan/src/lib.rs
  crates/scbdb-legiscan/src/retry.rs
  crates/scbdb-legiscan/src/session.rs
  crates/scbdb-legiscan/tests/client.rs
Due: cargo-fmt

fix(scraper): three parser fixes — window, multi-occurrence, title fallback
  config/brands.yaml
  crates/scbdb-scraper/src/normalize.rs
  crates/scbdb-scraper/src/normalize_test.rs
  crates/scbdb-scraper/src/parse_helpers.rs
  crates/scbdb-scraper/src/parse_test.rs
Due: cargo-fmt

fix: handle LegiScan string-encoded integers in search summary
  crates/scbdb-legiscan/src/types.rs
  crates/scbdb-scraper/src/parse_helpers.rs
Due: cargo-fmt

fix: raise default max_requests from 300 to 5000 (monthly budget is 30k)
  crates/scbdb-cli/src/regs/mod.rs
  crates/scbdb-cli/src/tests.rs
Due: cargo-fmt

fix: use native-tls for Reddit client to bypass TLS fingerprint block
  Cargo.lock
  Cargo.toml
  crates/scbdb-sentiment/src/sources/reddit.rs
Due: cargo-fmt

feat(sentiment): add r/CBD subreddit and OR cbd to Google News query
  crates/scbdb-sentiment/src/sources/reddit.rs
  crates/scbdb-sentiment/src/sources/rss.rs
  docs/SENTIMENT_PIPELINE.md
Due: cargo-fmt

feat(db): add SentimentSummaryRow and SentimentSnapshotDashboardRow types
  crates/scbdb-db/src/api_queries.rs
Due: cargo-fmt

feat(db): add list_sentiment_summary and list_sentiment_snapshots_dashboard
  crates/scbdb-db/src/api_queries.rs
Due: cargo-fmt

feat(db): re-export sentiment query types and functions
  crates/scbdb-db/src/lib.rs
Due: cargo-fmt

test(api): add sentiment type serialization test and structs
  crates/scbdb-server/src/api/bills.rs
  crates/scbdb-server/src/api/mod.rs
  crates/scbdb-server/src/api/pricing.rs
  crates/scbdb-server/src/api/products.rs
  crates/scbdb-server/src/api/sentiment.rs
Due: cargo-fmt

fix(api): fix clippy warnings from Task 4 module split
  crates/scbdb-scraper/src/logo.rs
  crates/scbdb-server/src/api/bills.rs
  crates/scbdb-server/src/api/mod.rs
  crates/scbdb-server/src/api/pricing.rs
  crates/scbdb-server/src/api/products.rs
  crates/scbdb-server/src/api/sentiment.rs
Due: cargo-fmt

feat(api): add GET /sentiment/summary and GET /sentiment/snapshots endpoints
  crates/scbdb-server/src/api/mod.rs
  crates/scbdb-server/src/api/sentiment.rs
Due: cargo-fmt

fix(db): wrap PostgreSQL in backticks for doc_markdown lint
  crates/scbdb-db/src/locations.rs
Due: cargo-fmt

feat(web/types): add SentimentSummaryItem and SentimentSnapshotItem
  web/.prettierignore
  web/src/components/dashboard-page.tsx
  web/src/lib/api/client.ts
  web/src/lib/api/dashboard.ts
  web/src/styles.css
  web/src/types/api.ts
Due: web-format

fix(tests): inject VITE_API_BASE_URL in vitest env so client.ts does not throw at import time
  web/vite.config.ts
Due: none

feat(web/api): add fetchSentimentSummary and fetchSentimentSnapshots
  web/src/lib/api/dashboard.ts
Due: web-format

feat(web/hooks): add useSentimentSummary and useSentimentSnapshots
  web/src/hooks/use-dashboard-data.ts
Due: web-format

feat(web/css): add sentiment badge and meter styles, fix stats-grid to 4 cols
  web/src/components/dashboard-page.test.tsx
  web/src/styles.css
Due: web-format

feat(web): add Sentiment tab with score badge, meter bar, and recent runs
  web/src/components/dashboard-page.test.tsx
  web/src/components/dashboard-page.tsx
  web/src/components/dashboard-utils.tsx
  web/src/components/pricing-panel.tsx
  web/src/components/products-panel.tsx
  web/src/components/regulatory-panel.tsx
  web/src/components/sentiment-panel.tsx
Due: web-format

chore(web): track client.test.ts
  web/src/lib/api/client.test.ts
Due: web-format

test(web): add sentiment panel rendering test
  web/src/components/dashboard-page.test.tsx
Due: web-format

chore: verify sentiment dashboard — all checks pass
  web/src/components/products-panel.tsx
Due: web-format

docs: update README and API_DESIGN, add SENTIMENT_DASHBOARD and phase-5 detail
  README.md
  docs/API_DESIGN.md
  docs/INDEX.md
  docs/SENTIMENT_DASHBOARD.md
  docs/mvp_phases/phase-5-api-dashboard.md
Due: none
