Repository jmagar/scbdb: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, web-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-file-size:
      run: scripts/check-file-size.sh
      fail_text: "Split large files into focused modules before committing."

    cargo-fmt:
      glob: "**/*.rs"
      run: cargo fmt --all -- --check
      fail_text: "Run 'just format' to fix Rust formatting."

    web-format:
      glob: "web/**/*.{ts,tsx,css}"
      run: command -v pnpm > /dev/null 2>&1 && pnpm --dir web format:check || echo "pnpm not found — skipping web format check"
      fail_text: "Run 'just format' to fix web formatting."

pre-push:
  parallel: true
  commands:
    cargo-clippy:
      glob: "**/*.rs"
      run: cargo clippy --workspace -- -D warnings
      fail_text: "Run 'just check' to see clippy details."

    cargo-test:
      glob: "**/*.rs"
      run: cargo test --workspace --lib
      fail_text: "All unit tests must pass before pushing. Integration tests require a running DB — run 'just test' manually."

    web-typecheck:
      glob: "web/**/*.{ts,tsx}"
      run: command -v pnpm > /dev/null 2>&1 && pnpm --dir web typecheck || echo "pnpm not found — skipping web typecheck"
      fail_text: "Fix TypeScript errors before pushing."

fix(web): resolve 12 TypeScript errors from panel decoupling
  web/src/components/brand-edit-meta-form.tsx
  web/src/components/dashboard-page.tsx
  web/src/components/regulatory-panel.tsx
  web/src/components/sentiment-panel.tsx
  web/src/lib/api/dashboard.ts
Due: web-format

fix: address P1/P2 PR review comments — middleware order, location dedup key
  crates/scbdb-db/src/locations/write.rs
  crates/scbdb-scraper/src/locator/trust.rs
  crates/scbdb-sentiment/src/sources/rss_helpers.rs
  crates/scbdb-server/src/api/mod.rs
  crates/scbdb-server/src/middleware.rs
  docs/API_DESIGN.md
  docs/DEPLOYMENT.md
  docs/STORE_LOCATOR.md
  web/src/main.tsx
Due: cargo-fmt, web-format

feat(phase-5): add collection runs API and harden locator/map workflows
  PROJECT_FINDINGS_REPORT.md
  crates/scbdb-db/src/api_queries.rs
  crates/scbdb-db/src/lib.rs
  crates/scbdb-db/src/locations/write.rs
  crates/scbdb-server/src/api/bills.rs
  crates/scbdb-server/src/api/brands/mod.rs
  crates/scbdb-server/src/api/brands/write.rs
  crates/scbdb-server/src/api/brands/write_enrichment.rs
  crates/scbdb-server/src/api/collection_runs.rs
  crates/scbdb-server/src/api/products.rs
  crates/scbdb-server/src/middleware.rs
  docs/API_DESIGN.md
  justfile
  migrations/20260221000200_store_locator_url.up.sql
  migrations/20260221000300_store_locations.up.sql
  migrations/20260226000100_store_locator_url_comment.down.sql
  migrations/20260226000100_store_locator_url_comment.up.sql
  migrations/20260226000200_drop_redundant_store_locations_brand_index.down.sql
  migrations/20260226000200_drop_redundant_store_locations_brand_index.up.sql
  scripts/check-file-size.sh
  scripts/smoke-startup.sh
  web/src/components/brand-edit-tab.tsx
  web/src/components/brand-profile-page.test.tsx
  web/src/components/brand-signal-feed.test.tsx
  web/src/components/brands-page.tsx
  web/src/components/location-map-view.tsx
  web/src/components/map-filter-sidebar.tsx
  web/src/components/map-filter-utils.ts
  web/src/lib/api/brands.ts
  web/src/lib/routes.ts
  web/src/main.tsx
  web/vite.config.ts
Due: cargo-fmt, web-format

fix: address PR comment #1 - correct LOC counting for leading asterisk code
  scripts/check-file-size.sh
Due: none

fix: address PR comment #2 - preserve literal angle brackets in RSS descriptions
  crates/scbdb-sentiment/src/sources/rss_helpers.rs
Due: cargo-fmt

ci: ignore unresolved sqlx mysql rustsec advisory in cargo-audit
  .cargo/audit.toml
Due: none

fix: unwrap pins response envelope and set cluster text font
  .gitignore
  Cargo.lock
  web/src/components/location-map-view.tsx
  web/src/lib/api/dashboard.ts
Due: web-format
